<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CRM+</title>
    <meta name="description" content="" />
    <meta name="description" content="CRM+" />
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="app/asset/css/app.css">
</head>

<body>
    <header id="header">
    </header>
    <div class="module-container" id="module-container" style="top: 55px">
        <div class="module-scroller" id="module-scroller">
            <div class="loading-container" id="loading-container">
                <div class="floatingCirclesG">
                    <div class="f_circleG frotateG_01"></div>
                    <div class="f_circleG frotateG_02"></div>
                    <div class="f_circleG frotateG_03"></div>
                    <div class="f_circleG frotateG_04"></div>
                    <div class="f_circleG frotateG_05"></div>
                    <div class="f_circleG frotateG_06"></div>
                    <div class="f_circleG frotateG_07"></div>
                    <div class="f_circleG frotateG_08"></div>   
                </div>
            </div>
        </div>
    </div>
    <footer class="tab" id="footer"></footer>
    <script type="text/javascript">var ENV = {};</script>
    <script type="text/javascript" src="vendor/requirejs/require.js " data-main="app/config"></script>
</body>
</html>
