<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8" />
	<title>CRM +</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="app/asset/css/app.css" />
</head>
<body>
	<header id= "header"></header>
	<div class="module-container" id="module-container" style="top: 55px">
		<div class="module-scroller" id="module-scroller"></div>
	</div>
	<footer class="tab" id="footer"></footer>
	<div class = "loading-container" id = "loading-container">
	</div>
	<script src = "cordova/cordova-2.3.0.js"></script>
	<script src="salesforce/cordova.force.js "></script>
	<script src="cordova/ga-plugin.js"></script>
	<script src="cordova/push-notification.js"></script>
	<script type="text/javascript ">
	    var apiVersion = "v28.0 "
	    var forcetkClient
	    var debugMode = true

	    var ENV = {
	        mock: true,
	        restAPI: false
	    }
    </script>
	<script type="text/javascript" src="vendor/requirejs/require.js " data-main="app/config"></script>
</body>

</html>
